.chartArea{
  display: flex;
  align-items: center; /* 水平置中 */
  justify-content: center; /* 垂直置中 */
  background-color: rgb(245, 243, 240);
  border-radius: 3%;
  height: 100vh; /* 讓區域佔滿畫面 */
  box-sizing: border-box;
  width: 1000px;
  margin: auto;


  .title{
    display: flex;
    flex-direction: column;
    justify-content: center; /* 讓文字垂直置中 */
    align-items: flex-start; /* 保持文字靠左對齊 */
    font-size: 18px;
    line-height: 2; /* 調整行距，讓每行更清晰 */
  }

  .chart{
    display: flex;
    flex-direction: column; /* 圖表區域內容垂直排列 */
    align-items: center; /* 垂直置中 */
    padding-right: 50px; /* 與文字保持間距 */
  }

  h3{
    font-size: 25px;
  }


  h5{
    font-size: 18px;
    margin-top: 20px;
    width: 200px;
  }



  .canvasCss {
    width: 280px;
    height: 280px;
    margin: 0; /* 去除外邊距 */
  }

  .typeTCss {
    padding: 5px;
    background-color: #88c2f1;
    text-align: center;
  }
}

