<main id="main">
  <!-- 題目和說明 -->
  <div class="title" id="title">
    <h1 id="big">{{survey.title}}</h1>
    <p id="small">{{survey.describe}}</p>
  </div>


  <!-- 基本資料輸入欄 -->
  <div class="form-container">

    <div class="form-group">
      <span>姓名:</span>
      {{previewAns.name}}
    </div>

    <div class="form-group">
      <span>電話:</span>
      {{previewAns.phone}}
    </div>

    <div class="form-group">
      <span>Email:</span>
      {{previewAns.email}}

    </div>

    <div class="form-group">
      <span>年紀:</span>
      {{previewAns.age}}
    </div>

  </div>

  <div class="questionArea">

    <!-- 題目答案確認 -->
    @for (question  of survey.questionData; track $index ; let i = $index) {
      <p>{{i + 1}}.{{question .questionTitle}}</p>

      <!-- 單選 -->
      @if(question.questionType == 'single'){
        @for (option of question.questionContent; track $index) {
          @if (option.optionName === getAnswerByQuestionId(question.questionId)) {
            <p>答案: {{option.option}}</p>
          }
        }
      }


      <!-- 多選 -->
      @if (question.questionType == 'multi') {
        @for (option of question.questionContent; track $index) {
          @if (getAnswerByQuestionId(question.questionId)?.includes(option.optionName)) {
            <p>答案: {{option.option}}</p>
          }
        }
      }


      <!-- 填充 -->
      @if(question.questionType == 'text'){
        <p>答案: {{getAnswerByQuestionId(question.questionId)}}</p>
      }
    }


    <!-- 按鈕 -->
    <div style="text-align: right;">
      <button style="margin-right: 5px;" (click)="backToSurvey()">回上頁</button>
      <button (click)="saveToList()">儲存</button>
  </div><br>
  </div>
</main>
