<main id="main">
  <!-- 題目和說明 -->
  <div class="title" id="title">
    <h1 id="big">{{ survey.title }}</h1>
    <p id="small">{{ survey.description }}</p>
  </div>

  <form *ngIf="survey">
    <!-- 基本資料輸入欄 -->
    <div class="form-container">
      <div class="form-group">
        <label for="name">姓名:</label>
        <input type="text" id="name" placeholder="請輸入姓名" [(ngModel)]="formData.name" name="name" required>
        <div *ngIf="!formData.name" class="error">此欄為必填!</div>
      </div>

      <div class="form-group">
        <label for="phone">手機:</label>
        <input type="tel" id="phone" placeholder="請輸入手機號碼" [(ngModel)]="formData.phone" name="phone" required>
        <div *ngIf="!formData.phone" class="error">此欄為必填!</div>
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" placeholder="請輸入E-mail" [(ngModel)]="formData.email" name="email" required>
        <div *ngIf="formData.email && !emailValid" class="error">請輸入有效的 Email 格式!</div>
        <div *ngIf="!formData.email" class="error">此欄為必填!</div>
      </div>

      <div class="form-group">
        <label for="age">年齡:</label>
        <input type="number" id="age" placeholder="請輸入年齡" [(ngModel)]="formData.age" name="age" min="0" max="120">
      </div>
    </div>

    <!-- 題目區域 -->
    <div class="questionArea">
      <ng-container *ngFor="let question of survey.quesList; let i = index">
        <p>{{ i + 1 }}. {{ question.questionTitle }}
          <span *ngIf="question.required" style="color: brown">*</span>
          <span *ngIf="question.questionType == 'multi' ">(多選)</span>
        </p>

        <!-- 單選題 -->
        <div *ngIf="question.questionType === 'single'">
          <label *ngFor="let option of question.questionContent">
            <input
              type="radio"
              [(ngModel)]="formData.answers[question.questionId]"
              [value]="option.option"
              [name]="'question' + question.questionId">
            {{ option.option }}
          </label>
        </div>

        <!-- 多選題 -->
        <div *ngIf="question.questionType === 'multi'">
          <label *ngFor="let option of question.questionContent">
            <input
              type="checkbox"
              [checked]="formData.answers[question.questionId]?.includes(option.option)"
              (change)="onCheckboxChange(question.questionId, option.option, $event)">
            {{ option.option }}
          </label>
        </div>

        <!-- 填充題 -->
        <div *ngIf="question.questionType === 'text'">
          <textarea [(ngModel)]="formData.answers[question.questionId]" [name]="'question' + question.questionId" placeholder="請輸入答案"></textarea>
        </div>
      </ng-container>
    </div>

    <!-- 按鈕 -->
    <div style="text-align: right; padding: 10px;">
      <button style="margin-right: 5px;" type="button" (click)="backToList()">回上頁</button>
      <button type="button" (click)="submitSurvey()" >預覽</button>
    </div>
  </form>
</main>

