@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* 搜尋區域樣式 */
.sec1 {
  display: flex; /* 讓內容水平排列 */
  justify-content: space-between; /* 兩邊留空，內容分佈 */
  align-items: center; /* 垂直居中 */
  height: 70px;
  width: 90%; /* 使用百分比以適應不同屏幕 */
  margin: auto; /* 保證居中 */
  margin-top: 20px; /* 與上方留些間距 */
  padding: 10px 20px; /* 內邊距 */
  background-color: #f9f9f9; /* 背景顏色 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 陰影效果 */
}

/* 搜尋容器 */
.search-container {
  display: flex;
  align-items: center;
  gap: 7px; /* 元素之間間距 */
}

/* 搜尋標籤 */
.search-label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  width: auto; /* 自適應寬度 */
  white-space: nowrap; /* 防止文字換行 */
  text-align: right; /* 如果需要右對齊標籤 */
}

/* 搜尋輸入框 */
.search-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  outline: none;
  width: 200px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #87bfb7;
}

/* 搜尋按鈕 */
.search-button {
  padding: 8px 10px;
  font-size: 15px;
  color: #fff;
  background-color: #87bfb7;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.search-button:hover {
  background-color: #73a9a1;
  transform: scale(1.05); /* 鼠標懸停時微放大 */
}

/* 表格區域樣式 */
.tableArea {
  width: 90%; /* 自動調整寬度以適應不同屏幕 */
  margin: auto; /* 居中表格 */
  margin-top: 20px; /* 與搜尋區域保持一定間距 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 加入陰影 */
}

/* 分頁區域 */
.pageArea {
  width: 90%;
  margin: auto;
  margin-top: 10px; /* 與表格保持適當距離 */
  text-align: center;
  font-family: "Noto Serif TC", serif;
}

/* 表格內容樣式 */
.mat-mdc-row {
  height: 40px !important;
  font-size: 15px;
  text-align: center; /* 水平置中 */
}

.mat-mdc-row:nth-child(odd) {
  background-color: #F4F6F8 !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff !important;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  border: none !important;
  text-align: center; /* 水平置中 */
}

.mat-mdc-header-cell {
  background-color: #A3B0C7 !important;
  font-weight: bold !important;
  font-size: 18px;
}

/* 僅針對 title 欄位的內容 */
.title-cell {
  text-align: left !important; /* 內容靠左 */
  padding-left: 50px !important; /* 讓標題稍微往右移 */
}


.pageArea .mat-mdc-paginator-page-size-label {
  visibility: hidden;
}

.mat-mdc-paginator-page-size-label ::before{
  visibility: hidden !important; /* 隱藏原本的 Items per page: */
}

.mat-mdc-paginator-page-size-label::after {
  visibility: visible !important; /* 重新顯示自定義的文字 */
  content: '顯示筆數' !important;
}

